body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#landing {
    height: 60vh;
    /* Reduced height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
}

#company-logo {
    width: 150px;
    height: 150px;
}

#about {
    padding: 40px;
    text-align: center;
    background-color: #eee;
}

#products {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

.product-card {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.1);
}

/* Updated button styling */
button {
    background-color: #ff4500;
    /* Orangish color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    /* Rounded edges */
    font-weight: 500;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347;
    /* Slightly different shade for hover effect */
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

#social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}